<section id="travel-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :travel_title %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p>For our traveling guests, we know that a trip to Ecuador requires careful planning, time, and financial commitment&mdash;and we are incredibly grateful for the effort you’re making to celebrate with us. To help make your journey smoother, we’ve put together some tips and recommendations for travel, accommodations, and activities.</p>

        <p>We’re looking into ways to <strong>assist with logistics</strong>, such as airport transfers, a shuttle to the church and venue, and a shared Airbnb for guests (possibly with a swimming pool!). Additionally, we may be able to arrange discounts for accommodations, including hotels near the venue. While we can’t cover these costs, we’ll do our best to help coordinate. If you’d like to receive updates about these arrangements by email, be sure to check the corresponding box during the RSVP process.</p>

        <h2>The Destination</h2>
        <p>Ecuador, located in South America, is one of the most biodiverse countries in the world. Being relatively small, it offers remarkably easy access to stunning landscapes across four unique regions:</p>
        <dl class="row">
          <dt class="col-sm-4">The Amazon Rainforest</dt>
          <dd class="col-sm-8">Explore lush jungles, exotic wildlife, and indigenous cultures.</dd>

          <dt class="col-sm-4">The Andes Mountains</dt>
          <dd class="col-sm-8">Hike volcanoes, visit highland villages and enjoy the breathtaking scenery.</dd>

          <dt class="col-sm-4">The Pacific Coast</dt>
          <dd class="col-sm-8">Relax on sandy beaches or surf in coastal towns.</dd>

          <dt class="col-sm-4">The Galápagos Islands</dt>
          <dd class="col-sm-8">Experience unparalleled wildlife and pristine beaches.</dd>
        </dl>
        <p>Ecuador's weather in February varies by region due to its diverse geography. In Quito and the Andean Highlands, <strong>temperature is around 13-25&deg;C</strong> with mild days, chilly nights and occasional rain. We recommend bringing a light rain jacket and checking the weather forecast before departing.</p>

        <p>For reliable mobile data, a <strong>local SIM</strong> or <strong>eSIM</strong> is your best option. Claro offers the best coverage, Movistar works well in cities, and Tuenti is budget-friendly. SIM cards are available at the airport, malls, and official stores (passport required). If your phone supports eSIM, <a href="https://www.airalo.com/ecuador-esim" target="_blank">Airalo</a> offers Ecuador-specific or regional plans that activate instantly.</p>

        <p>Ecuador uses the <strong>U.S. dollar</strong>, but payment methods vary. In Quito and major cities, most restaurants, supermarkets, and malls accept cards, while small shops, buses, and markets require cash. In rural areas, cash is essential. Banco Internacional ATMs are best for Visa cards (often fee-free), and Revolut works well for card payments. ATMs can be scarce outside cities, so withdraw money in a safe place and carry enough cash when traveling.</p>

        <p><strong>Tipping</strong> is much more common in Ecuador than in Belgium. In restaurants, a 10% service charge is often included in the bill—if not, leaving 5-10% is customary for good service. Taxi drivers don’t expect tips, but rounding up the fare is common. Hotel staff and tour guides appreciate small tips: &#36;1-2 per bag for porters and &#36;5-10 per day for guides, depending on the service. In markets and small eateries, tipping isn’t necessary.</p>

        <h2>Getting To Ecuador</h2>
        <p>The wedding will take place during the low season, as February is one of the most affordable months to fly to Ecuador. To get the best prices, we recommend booking your flight 6–8 months in advance. Round-trip flights from Europe typically cost &#8364;700–&#8364;800 per person, with airlines like Air Europa, Iberia, and KLM offering the most budget-friendly options. These flights usually have stopovers in Madrid or Amsterdam. When booking, we suggest choosing shorter layovers&mdash;a 17-hour journey is already long and tiring, so there's no need to extend it further!</p>
        <p>Since the wedding will take place around Quito (Guápulo and Puembo), we recommend flying into Mariscal Sucre International Airport, which is about 45 minutes from the city.</p>
        <p>Most nationalities can visit Ecuador visa-free for up to 90 days within a 12-month period, but <strong>passports</strong> must be valid for at least six months upon entry. Border officials may ask for proof of onward travel. For the latest entry requirements, check the website of Foreign Affairs of your coutry (for example, <a href="https://diplomatie.belgium.be/nl/landen/ecuador/reizen-naar-ecuador-reisadvies/praktische-info-voor-ecuador" target="_blank">Belgian Foreign Affairs</a>) before departure. Additional entry requirements apply for the Galápagos Islands.</p>

        <h2>Health</h2>
        <p>We recommend arriving a few of days before the wedding to allow time to adjust to the <strong>altitude</strong>. Quito sits at 9&thinsp;350&thinsp;feet (2&thinsp;850&thinsp;m) above sea level, and it can take some time for your body to acclimate.</p>
        <p>Before your trip, consider discussing your travel plans with your doctor or a travel clinic, ideally eight to ten weeks before departure. Commonly recommended <strong>vaccinations</strong> include <strong>yellow fever</strong>, <strong>hepatitis A</strong>, and <strong>tetanus-diphtheria-pertussis (whooping cough)</strong>. These vaccines typically cost around &#8364;80, and part of the expense may be covered by your health insurance.</p>
        <p><strong>Travel insurance</strong> isn't mandatory for Ecuador, but we highly recommend it. Private clinics generally offer better care than public hospitals, and insurance can help cover medical emergencies, trip cancellations, lost luggage, and theft. It’s especially valuable fif you plan to explore remote areas like the Amazon or Galápagos or take part in outdoor activities.</p>
        <p>Be mindful of <strong>food and water safety</strong> during your trip. Always drink bottled or filtered water&mdash;including when brushing your teeth or washing fruits and vegetables&mdash;as tap water isn’t always safe to drink. Hygiene standards can vary, especially in smaller, budget-friendly restaurants, so it's best to avoid raw vegetables, salads, and undercooked meats, particularly pork and seafood.</p>
        <p>When dining out, opt for busy, well-reviewed restaurants and be cautious with street food, choosing vendors with high turnover. Sticking to thoroughly cooked meals and practicing good hygiene will help ensure a smooth and enjoyable trip!</p>

        <h2>Safety</h2>
        <p>Ecuador is a beautiful and welcoming country, but like any travel destination, it’s important to take basic precautions to stay safe. Here are some key tips:</p>
        <dl class="row">
          <dt class="col-sm-4">&#128661; Use safe transport</dt>
          <dd class="col-sm-8">Stick to hotel-arranged rides, Uber, or registered taxis.</dd>

          <dt class="col-sm-4">&#127890; Keep valuables secure</dt>
          <dd class="col-sm-8">Avoid displaying jewelry, expensive gadgets, or large amounts of cash. Use an anti-theft bag in busy areas.</dd>

          <dt class="col-sm-4">&#127757; Stay aware in crowded places</dt>
          <dd class="col-sm-8">Markets, bus stations, and tourist hotspots can attract pickpockets.</dd>

          <dt class="col-sm-4">&#10071; Beware of scams</dt>
          <dd class="col-sm-8">Be cautious of distraction tactics, like strangers asking for help with a map or newspaper. Stay alert.</dd>

          <dt class="col-sm-4">&#127769; Avoid certain areas at night</dt>
          <dd class="col-sm-8">Some neighborhoods in Guayaquil, Esmeraldas, Manabí, and Quito can be unsafe after dark. Ask locals or your hotel for advice, stick to well-lit areas, and avoid walking alone.</dd>

          <dt class="col-sm-4">&#128176; Withdraw cash safely</dt>
          <dd class="col-sm-8">Use ATMs inside banks or shopping malls, not on the street.</dd>

          <dt class="col-sm-4">&#128706; Keep copies of important documents</dt>
          <dd class="col-sm-8">Store copies of your passport, visa, and travel insurance separately from the originals.</dd>
        </dl>
        <p>With basic precautions, Ecuador is an amazing place to visit! Stay safe, enjoy the wedding, and make the most of your time exploring.</p>
      </div>
    </div>
  </div>
</section>

<section id="wedding-day-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :wedding_day_title %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
      <br><br>
      <p>While Ecuadorians are known for their relaxed approach to timing, church ceremonies start promptly. We recommend <strong>arriving</strong> at least 20 minutes early (2:40 PM) to ensure a smooth start.</p>
      <p><strong>Children</strong> are welcome, but please keep in mind that there will be alcohol and possibly open fires. If more than five children attend, we may arrange for a nanny to help with supervision so you can fully enjoy the party&mdash;you can let us know during the RSVP process. Unfortunately, <strong>pets</strong> are not allowed at the venue.</p>

      <h2>Where To Stay</h2>
      <p>For convenience and safety, we recommend staying in Quito's north-central area or in the nearby valleys of Tumbaco, Cumbayá, or Puembo, as the wedding will take place in Guápulo and Puembo. These areas offer a variety of hotels and Airbnbs, making it easy to return safely after celebrating with us!</p>
      <ul>
          <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</li>
          <li>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</li>
        </ul>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740073839/9011_dlywjt.jpg', width: '100%') %>
      </div>
    </div>
  </div>
</section>