<section id="travel-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :travel_title %></h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p>For our traveling guests, we know that a trip to Ecuador requires careful planning, time, and financial commitment—and we are incredibly grateful for the effort you’re making to celebrate with us. To help make your journey smoother, we’ve put together some tips and recommendations for travel, accommodations, and activities.</p>
        <h2>Where do we fly into?</h2>
        <p>Ecuador, located in South America, is one of the most biodiverse countries in the world. Being relatively small, it offers remarkably easy access to stunning landscapes across four unique regions:</p>
        <dl class="row">
          <dt class="col-sm-4">The Amazon Rainforest</dt>
          <dd class="col-sm-8">Explore lush jungles, exotic wildlife, and indigenous cultures.</dd>

          <dt class="col-sm-4">The Andes Mountains</dt>
          <dd class="col-sm-8">Hike volcanoes, visit highland villages and enjoy the breathtaking scenery.</dd>

          <dt class="col-sm-4">The Pacific Coast</dt>
          <dd class="col-sm-8">Relax on sandy beaches or surf in coastal towns.</dd>

          <dt class="col-sm-4">The Galápagos Islands</dt>
          <dd class="col-sm-8">Experience unparalleled wildlife and pristine beaches.</dd>
        </dl>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <ul>
          <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</li>
          <li>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</li>
        </ul>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740073839/9011_dlywjt.jpg', width: '100%') %>
      </div>
    </div>
  </div>
</section>