<footer id="welcome-index-footer" class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div id="welcome-index-footer-cta" class="col-md-12 text-center">
        <%= link_to t(:confirm_your_presence), new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" id="welcome-index-footer-credits">
        <small>
          <p><%= t('home.footer_john_lees_miller') %> <a href="https://github.com/jdleesmiller/wedding" target="_blank" style="color:#9c98ee;">Github</a></p>
          <p><a href="https://www.flaticon.com/free-icons/wedding" target="_blank" style="color:#9c98ee;" title="wedding icons"><%= t('home.footer_flaticon') %></a></p>
        </small>
      </div>
    </div>
  </div>
</footer>
