<section id="welcome-index-fun-facts-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :welcome_fun_facts %></h1>
  </div>
</section>
<section class="default-content">
  <div class="fun-facts-flip-card">
    <div class="fun-facts-flip-card-inner">
      <div class="fun-facts-flip-card-front">
        <p>Who made the first move?</p>
      </div>
      <div class="fun-facts-flip-card-back">
        <p>After a night out with her cousin Angela and a bottle of tequila, Jess sent a text saying how nice it would be to spend more time together.</p>
      </div>
    </div>
  </div>
</section>
