<span id="welcome-navbar">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">Reservation</a></li>
    <li><a href="#contact">Planning</a></li>
    <li><a href="#contact">Pictures</a></li>
    <li><a href="#contact">Even more stuff</a></li>
    <li><a href="#contact">Practical</a></li>
    <li><a href="#contact">English</a></li>
  </ul>
</span>
