<span id="welcome-navbar">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">Ceremony</a></li>
    <li><a href="#contact">Travel &amp; Stay</a></li>
    <li><a href="#contact">Registry</a></li>
    <li><a href="#contact">Confirmation</a></li>
    <li><a href="#contact">FAQ</a></li>
    <li><a href="#contact">English</a></li>
  </ul>
</span>
