<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t :the_plan_title %></h1>
  </div>
</section>
<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <br><br>
        <p><%= t(:welcome_plan_to_wedding_day, travel_href: link_to(t(:travel_title), travel_and_stay_path), wedding_day_href: link_to(t(:wedding_day_title), "#{travel_and_stay_path}#wedding-day-index-leader")).html_safe %></p>

        <h2>Order Of The Day</h2>
        <p>Santuario De Guápulo &#9962;</p>
        <dl class="row">
          <dt class="col-2">2:30pm</dt>
          <dd class="col-10">Guests start to arrive</dd>

          <dt class="col-2">3pm</dt>
          <dd class="col-10">Ecclesiastical ceremony</dd>
        </dl>

        <p>Quinta El Alcázar &#129346;</p>
        <dl class="row">
          <dt class="col-2">4:30pm</dt>
          <dd class="col-10">Cocktail hour with snacks</dd>

          <dt class="col-2">6pm</dt>
          <dd class="col-10">Dinner and drinks</dd>

          <dt class="col-2">9pm</dt>
          <dd class="col-10">Cutting of the cake, dancing and celebrations!</dd>

          <dt class="col-2">12am</dt>
          <dd class="col-10">Bar closes</dd>
        </dl>

        <h2>Menu</h2>
        <p>We haven't chosen the menu yet, but rest assured&mdash;it will be delicious, Ecuadorian, and worth the wait. Stay tuned for more details!</p>
        <%#
          <p><strong>Starter</strong> &mdash; Ceviche in a coconut bowl <sup>*</sup> &dagger;</p>
          <p><strong>Main</strong> &mdash; Fricassee of Chicken with Lyonnaise Potato &ddagger;</p>
          <p><strong>Dessert</strong> &mdash; Choux Swan with Chocolate & Brandy Sauce <sup>&sect;</sup></p>
          <p><strong>Children's Menu</strong>: Garlic bread, chicken goujons and chips, ice cream.</p>
          <ul class="list-unstyled">
            <li><small><sup>*</sup> Gluten free &amp; vegan starter: Tomato soup</small></li>
            <li><small>&dagger; Gluten free &amp; dairy free starter: Gravadlax served without tart</small></li>
            <li><small>&ddagger; Main is gluten free. Vegan main: Aubergine &amp; Black Bean Chilli with Cumin Rice</small></li>
            <li><small><sup>&sect;</sup> Vegan, gluten free &amp; dairy free dessert: Fruit platter</small></li>
          </ul>
          <p>The venue is making every effort to cater for vegan, vegetarian, gluten free, allergies and other dietary preferences, as indicated in your RSVPs.</p>
        %>

        <h2><%= t :welcome_gifts_and_cards_title %></h2>
        <p><%= t :welcome_gifts_and_cards_body %></p>
        <p class="account-info">BE26 0016 1911 7229</p>

        <h2>RSVPs</h2>
        <p>Please RSVP as soon as possible (before September 1<sup>st</sup>) so we know who is coming and can make sure we keep a seat and a piece of cake for you if you can come! If it turns out you can’t make it, please let us know as soon as you can.</p>
      </div>
    </div>
  </div>
</section>
