<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section class="default-content">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Order of the Day</h2>
        <p><strong>2:30pm</strong> &mdash; Guests start to arrive at the church</p>
        <p><strong>3pm</strong> &mdash; Ecclesiastical Ceremony at Guápulo Church</p>
        <p><strong>4:30pm</strong> &mdash; Cocktail Hour at Hacienda El Alcázar</p>
        <p><strong>6pm</strong> &mdash; Dinner and drinks</p>
        <p><strong>9pm</strong> &mdash; Cutting of the cake, dancing and celebrations!</p>
        <p><strong>12am</strong> &mdash; Bar closes</p>

        <h2>Attire</h2>
        <p>We’d love to see our friends and family dressed up for our big day! While we encourage elegant attire, super formal outfits are not required. Your comfort is our priority.</p>
        <p>Our dress code is cocktail/semi-formal, and we kindly ask that you avoid colors traditionally reserved for the bride (white, ivory, and cream). Stilettos are discouraged due to uneven terrain, so we recommend block heels, wedges, or flats for comfort.</p>
        <p>Quito’s weather can be unpredictable, with temperatures around 15-25°C in the afternoon, dropping to 10°C at night, with a chance of light rain. Since parts of the celebration will be outdoors, we suggest bringing a light jacket or shawl just in case.</p>
        <p>Most importantly, we want you to feel great and have fun! &#10024;</p>

        <h2><%= t :welcome_getting_there_title %></h2>
        <p><%= t(:welcome_getting_there_body, travel_href: link_to(t(:travel_title), travel_and_stay_path)).html_safe %></p>

        <h2><%= t :welcome_gifts_and_cards_title %></h2>
        <p><%= t :welcome_gifts_and_cards_body %></p>
        <p class="account-info">BE26 0016 1911 7229</p>

        <% if false %>
        <h2>Menu</h2>
        <p><strong>Starter</strong> &mdash; Ceviche in a coconut bowl <sup>*</sup> &dagger;</p>
        <p><strong>Main</strong> &mdash; Fricassee of Chicken with Lyonnaise Potato &ddagger;</p>
        <p><strong>Dessert</strong> &mdash; Choux Swan with Chocolate & Brandy Sauce <sup>&sect;</sup></p>
        <p><strong>Children's Menu</strong>: Garlic bread, chicken goujons and chips, ice cream.</p>
        <ul class="list-unstyled">
          <li><small><sup>*</sup> Gluten free &amp; vegan starter: Tomato soup</small></li>
          <li><small>&dagger; Gluten free &amp; dairy free starter: Gravadlax served without tart</small></li>
          <li><small>&ddagger; Main is gluten free. Vegan main: Aubergine &amp; Black Bean Chilli with Cumin Rice</small></li>
          <li><small><sup>&sect;</sup> Vegan, gluten free &amp; dairy free dessert: Fruit platter</small></li>
        </ul>
        <p>The venue is making every effort to cater for vegan, vegetarian, gluten free, allergies and other dietary preferences, as indicated in your RSVPs.</p>
        <% end %>

        <h2>RSVPs</h2>
        <p>Please RSVP as soon as possible, so we know who is coming and can make sure we keep a seat and a piece of cake for you if you can come! If it turns out you can’t make it, please let us know as soon as you can.</p>
      </div>
    </div>
  </div>
</section>
