<section id="faq-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1><%= t(:faq) %></h1>
  </div>
</section>

<div class="container faq-container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="accordion" id="accordionFaq">

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCantMakeIt" aria-expanded="false" aria-controls="collapseCantMakeIt">
            What should I do if I can't make it?
          </button>
          <div id="collapseCantMakeIt" class="accordion-collapse collapse" aria-labelledby="headingCantMakeIt" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRsvpTime" aria-expanded="false" aria-controls="collapseRsvpTime">
            What if I don't RSVP in time?
          </button>
          <div id="collapseRsvpTime" class="accordion-collapse collapse" aria-labelledby="headingRsvpTime" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChildrenPets" aria-expanded="false" aria-controls="collapseChildrenPets">
            Are kids allowed? What about pets?
          </button>
          <div id="collapseChildrenPets" class="accordion-collapse collapse" aria-labelledby="headingChildrenPets" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVegan" aria-expanded="false" aria-controls="collapseVegan">
            Will there be vegetarian/vegan meals?
          </button>
          <div id="collapseVegan" class="accordion-collapse collapse" aria-labelledby="headingVegan" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGift" aria-expanded="false" aria-controls="collapseGift">
            Should we bring a gift?
          </button>
          <div id="collapseGift" class="accordion-collapse collapse" aria-labelledby="headingGift" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDressCode" aria-expanded="false" aria-controls="collapseDressCode">
            Is there a dress code?
          </button>
          <div id="collapseDressCode" class="accordion-collapse collapse" aria-labelledby="headingDressCode" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransport" aria-expanded="false" aria-controls="collapseTransport">
            Dou you have any recommendations for transport to/from the venue/church? 
          </button>
          <div id="collapseTransport" class="accordion-collapse collapse" aria-labelledby="headingTransport" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHotels" aria-expanded="false" aria-controls="collapseHotels">
            Dou you have any recommendations for hotels situated near the venue?
          </button>
          <div id="collapseHotels" class="accordion-collapse collapse" aria-labelledby="headingHotels" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePictures" aria-expanded="false" aria-controls="collapsePictures">
            Can I upload pictures that I took during the wedding?
          </button>
          <div id="collapsePictures" class="accordion-collapse collapse" aria-labelledby="headingPictures" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                We would prefer that you don't take pictures during the wedding and enjoy the event. We hired a professional photographer for this and we'll upload the wedding
                pictures on this website after our honey moon. That being said, if you couldn't resist taking some pictures yourself, you can always share them with us.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePersonalData" aria-expanded="false" aria-controls="collapsePersonalData">
            Will my personal data be shared with third parties?
          </button>
          <div id="collapsePersonalData" class="accordion-collapse collapse" aria-labelledby="headingPersonalData" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                No! We developped our own wedding website and we're hosting our own database located in Amsterdam. Only the wedding planner and us can access your personal information.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlanTrip" aria-expanded="false" aria-controls="collapsePlanTrip">
            Do you have any recommendations around how to plan our trip to Ecuador?
          </button>
          <div id="collapsePlanTrip" class="accordion-collapse collapse" aria-labelledby="headingPlanTrip" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Yes! You can find all information in our <%= link_to(t(:travel_title), travel_and_stay_path) %> page.
              </p>
              <p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSafety" aria-expanded="false" aria-controls="collapseSafety">
            Is it safe to travel to Ecuador?
          </button>
          <div id="collapseSafety" class="accordion-collapse collapse" aria-labelledby="headingSafety" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVaccines" aria-expanded="false" aria-controls="collapseVaccines">
            Which vaccines do I need to get before traveling to Ecuador?
          </button>
          <div id="collapseVaccines" class="accordion-collapse collapse" aria-labelledby="headingVaccines" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              </p>
            </div>
          </div>
        </div>

        <br><br>
      </div>
    </div>
  </div>
</div>