/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Arvo:400|Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600|Emilys+Candy|Alex+Brush'); // |Bacasime+Antique|Cormorant+Upright:wght@300;400;500;600;700

$font-family-sans-serif: Montserrat, Helvetica, Arial, sans-serif;
$font-family-serif: "Cormorant Infant", Arvo, Georgia, "Times New Roman", Times, serif; // "Cormorant Upright", "Bacasime Antique"

$font-family-base: $font-family-serif;
$headings-font-family: $font-family-serif; // $font-family-sans-serif;

$body-color: rgba(28, 13, 10, 0.7);
$headings-color: rgba(28, 13, 10, 0.7);
$primary-color: #660505; // #4c091a;
$secondary-color: #0e0d20;
$tertiary-color: #343173;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
);

$enable-rounded: false;

@import "bootstrap";
@import "story";
@import "timeline";
@import "guests";
@import "welcome";
@import "travel";
@import "faq";
@import "exploring";

// Use tertiary color in bootstrap components
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $tertiary-color;
}
.nav-pills .nav-link {
  color: $tertiary-color;
}
.form-check-input:checked {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}
.dropdown-item.active, .dropdown-item:active {
  // color: var(--bs-dropdown-link-active-color);
  background-color: $tertiary-color;
}
// .dropdown-menu {
//   --bs-dropdown-bg: $secondary-color;
//   // --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
// }

.nav-confirm-btn {
  --bs-btn-border-color: #FFFFFF;
  --bs-btn-hover-color: #FFFFFF;
  border-radius: 10px;
}

.navbar-brand {
  padding-top: 0;
  img {
    height: 25px;
  }
}

h1 {
  // font-family: "Emilys Candy", serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.0833333em;
  // text-transform: uppercase;
}

h2 {
  color: theme-color("primary");
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.0833333em;
  // text-transform: uppercase;
}

p {
  font-size: 17px;
}

.wedding-cta-btn {
  letter-spacing: 1px;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
}

.wedding-required {
  color: theme-color("primary");
}

a {
  color: $tertiary-color;
}

.default-content {
  h2 {
    padding-top: 3 * $spacer;
    padding-bottom: $spacer;
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.grid-ish {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-around;
}

.grid-ish > * {
  flex: 1 1 100% 100%;
  margin: 20px;
}
