#faq-index-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
    url("https://res.cloudinary.com/dvvdwl8at/image/upload/v1737751112/EC_Quito_Santo_Domingo_Church-iStock-915435986-3_mto5fu.jpg") center center no-repeat;
  background-size: cover;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

.accordion {
  --#{$prefix}accordion-bg: rgb(250, 250, 250);
  --#{$prefix}accordion-btn-bg: rgb(250, 250, 250);
  // --#{$prefix}accordion-active-color: rgb(250, 250, 250);
  --#{$prefix}accordion-active-bg: rgb(250, 250, 250);
}

.faq-container {
  margin-top: 3em;
  text-align: justify;
}

// #accordionFaq {
//   border-radius: 20px;
// }

.accordion-button {
  // font-size: 19px;
  font-weight: bold;
  color: black;
}

.accordion-button:not(.collapsed) {
  color: black;
}

// Plus-minus buttons
// .accordion-button::after {
//   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
//   transform: scale(0.75) !important;
// }
// .accordion-button:not(.collapsed)::after {
//   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
// }