#travel-index-venue-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
    url("https://res.cloudinary.com/dvvdwl8at/image/upload/v1737751112/EC_Quito_Santo_Domingo_Church-iStock-915435986-3_mto5fu.jpg") center center no-repeat;
  background-size: cover;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}