#travel-index-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
    url("https://res.cloudinary.com/dvvdwl8at/image/upload/v1741542954/galapagos_zeeleeuw_onderwater_ss_g2byyb_ffpy4m.webp") center center no-repeat;
  background-size: cover;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}