<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600|Alex+Brush');

      body {
        font-family: 'Cormorant Infant', sans-serif;
      }

      .jessandsebi {
        font-family: 'Alex Brush', sans-serif;
        font-size: 2em;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
