<section id="exploring-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Exploring Ecuador</h1>
  </div>
</section>

<section class="default-content">
  <div class="container">
    <div class="row">
        <p>
          These are some of the many adventures you can embark on during your stay in Ecuador:
        </p>
    </div>
    <div class="story-flex-container">
      <div>
        <h3>The majestik møøse</h3>
        <p>Wi nøt trei a høliday in Sweden this yër ? See the løveli lakes. The wøndërful telephøne system. And mäni interesting furry animals. Including the majestik møøse.</p>
        <p>A Møøse once bit my sister...</p>
        <p>
          No realli! She was Karving her initials øn the møøse with the sharpened end  
          of an interspace tøøthbrush given her by Svenge - her brother-in-law -an Oslo
          dentist and star of many Norwegian møvies: "The Høt Hands of an Oslo         
          Dentist", "Fillings of Passion", "The Huge Mølars of Horst Nordfink"...
        </p>
      </div>
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1737751002/samples/animals/reindeer.jpg', class: 'story-flex-image') %>
      </div>
    </div>
    <div class="story-flex-container">
      <div>
        <%= image_tag('https://res.cloudinary.com/dvvdwl8at/image/upload/v1740073839/9011_dlywjt.jpg', class: 'story-flex-image') %>
      </div>
      <div>
        <h3>Melosita adventure</h3>
        <p><%= t :welcome_story_jess %></p>
      </div>
    </div>
  </div>
</section>